<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Welcome Page{% endblock %}</title>

  <!-- now we can insert our tailwind cdn -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- daisy ui for card look like -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <!-- custom css use when needed -->
  {% block extra_css %}{% endblock %}

</head>
{% block content %}

{% endblock %}

</html>
