{% extends "chat_analyzer/base.html" %}
{% load static %}
{% load heroicons %}

{% block title %}Welcoming Page{% endblock %}

{% block content %}

<body class="bg-blue-300 min-h-screen">

<div class="grid grid-cols-3 gap-4 pt-50 pb-50 pl-2 pr-2 bg-blue-50 font-sans text-center ">
  <div class="glass col-span-3 text-4xl font-bold flex items-center justify-center h-16">
    {% heroicon_outline "user-group" class="w-10 h-10 text-blue-600 mr-2" %} Your Role 
  </div>
  <!-- Therapist Card -->
  <a href="#" class="glass rounded-2xl h-96 flex flex-col items-center justify-center p-4 hover:scale-105 transition-transform cursor-pointer">
    {% heroicon_outline "user-circle" class="w-16 h-16 text-green-500 mb-2" %}
    <span class="text-xl font-semibold">Therapist</span>
    <span class="text-sm text-gray-600 mt-2">Provide therapy sessions</span>
  </a>
  <a href="#" class="glass rounded-2xl flex flex-col items-center justify-center p-4 hover:scale-105 transition-transform cursor-pointer">
    {% heroicon_outline "user" class="w-16 h-16 mb-2" %}
    <span class="text-xl font-semibold">Client</span>
    <span class="text-sm text-gray-500 mt-2">See your current progress ! <span>
  </a>
  <a href="#" class="glass rounded-2xl flex flex-col items-center justify-center p-4 hover:scale-105 transition-transform cursor-pointer">
    {% heroicon_outline "user-plus" class="w-16 h-16 mb-2" %}
    <span class="text-xl font-semibold">Doctor</span>
    <span class="text-sm text-gray-500 mt-2">See your patient progress 😊 ! <span>
  </a>

  <!-- Admin - full width clickable card -->
  <a href="{% url 'chat_analyzer:login_view' %}" class="glass col-span-3 text-center p-4 flex items-center justify-center gap-4 hover:scale-105 transition-transform cursor-pointer no-underline">
    {% heroicon_outline "cog-6-tooth" class="w-8 h-8 text-red-500" %}
    <span class="text-xl font-semibold">Admin</span>
    <span class="text-sm text-gray-600">System administrator</span>
  </a>

</div>
<!-- lesson learned ( a "a" tag also can consider as div ) -->

</body>





{% endblock %}


