{% extends "admin/base_site.html" %}
{% load unfold %}
{% load crispy_forms_tags %}


{% block extrahead %}
<scripts src="https://cdn.tailwindcss.com"></script>
{% endblock %}


    {% block content %}
    <div id="content-main">
        <div style="max-width: 600px;margin: 20px auto;">
            <p>Upload a diagnosis document (PDF, DOCX, PNG, JPG) and associate it with a client.</p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form form.helper "unfold_crispy" %}

            </form>
        </div>
    </div>

{% endblock %}
